body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 1rem;
}

textarea:focus {
    border-color: #5e72e4;
    outline: none;
    box-shadow: 0 0 5px rgba(94, 114, 228, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5e72e4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #324cdd;
}

h3 {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}
